.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between
}
.align-center{
    align-items: center;
}
footer{
    text-align: left
}

.main-cnt-body{
background: white;
padding: 10px 30px;
font-family: Poppins;
}
.text-heading, span{
    font-weight: 600;
}
.text{
    margin: 20px 0;
    font-size: 16px;
}
.number{
    color: #E37C5B;

}
.box-img{
    width: 70%
}

.box{
    margin: 3rem 0;
    
}
.img-cnt-box{
    width: 100%
}
.box-cover{
    position: relative;
}
/* .box-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.box-form{
    padding: 20%;
    text-align: left;
}
.large-font{
    font-size: 47px;
}
.medium-font{
    font-size: 18px;
    margin-top: 30px;
}
.btn{
    background: #1A2440;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}